<div class="row">
	<div class="col s12">
		<h4>New playlist</h4>
		<%= render "form" %>
		<%= link_to playlists_path, class: "waves-effect waves-light btn light-blue darken-2" do %>
			<i class="material-icons right">list</i> Return to playlist index
		<% end %>
	</div>
</div>