<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Welcome to Juke Pro</h1>
    <div class="row center">
      <h5 class="header col s12 light">Juke Pro is a Spotify web application that allows your party guests to add songs to the playlist.</h5>
    </div>
    <div class="row center">
    	<%= link_to 'Click here to get started', '/auth/spotify', class: "btn-large waves-effect waves-light" %>
    </div>
    <br><br>

  </div>
</div>